<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>772074731973-9a9rgajpehgnm4o8isbhgupgt8fbm29n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.772074731973-9a9rgajpehgnm4o8isbhgupgt8fbm29n</string>
	<key>API_KEY</key>
	<string>AIzaSyDvfBdwvodD1IjwURf5MCcZxEVtGJPn3jU</string>
	<key>GCM_SENDER_ID</key>
	<string>772074731973</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kodesmil.ably</string>
	<key>PROJECT_ID</key>
	<string>ably1</string>
	<key>STORAGE_BUCKET</key>
	<string>ably1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772074731973:ios:96cb9aea55f0feed5ab3ac</string>
	<key>DATABASE_URL</key>
	<string>https://ably1.firebaseio.com</string>
</dict>
</plist>